<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <style>

    @font-face {
      font-family: "ITMO Muller Regular";
      src: url('../../../../public/bootstrap-3.3.7/fonts/MullerRegular.ttf');
    }

    @font-face {
      font-family: "ITMO Muller Black";
      src: url('../../../../public/bootstrap-3.3.7/fonts/MullerBlack.ttf');
    }

    body {
      font-family: "ITMO Muller Regular";
      background-color: #1D2C4A;

    }

    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #1D2C4A;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }

    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 25px;
      color: white;
      display: block;
      transition: 0.3s;
    }

    .sidenav a:hover {
      color: #f1f1f1;
    }

    .sidenav .closebtn {
      position: absolute;
      top: 0;
      right: 25px;
      font-size: 36px;
      margin-left: 50px;
    }

    .header {
      background-color: #1D2C4A;
      height: 120px;
      padding: 15px;
    }

    h2 {
      font-family: ITMO Muller Black;
      color: white;
    }

    h3 {
      font-family: ITMO Muller Black;
      margin-left: 30px;
    }

    h4 {
      font-size: 18px;
    }

    .content {
      height: 1000px;
      width: auto;
      padding: 15px;
      padding-left: 30px;
    }

    .footer {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      background-color: #1D2C4A;

    }

    .info {
      height: 50px;
      width: auto;
    }

    .main_table {
      width: auto;
      height: 270px;

    }

    a, p {

      color: black;
    }

    a:hover {
      color: #1D2C4A;
    }

    i {
      font-size: 25px;
    }
    .card{
      margin: 25% auto;
    }
    .med{
      font-size: medium;
    }






    @media screen and (max-height: 450px) {
      .sidenav {
        padding-top: 15px;
      }

      .sidenav a {
        font-size: 18px;
      }
    }
  </style>
</head>
<body>




<!--<form method="POST" action="https://calm-brook-51137.herokuapp.com/sport/">-->
<div class="card bg-light" style="border-radius: 20px; padding: 40px 20px; width:70%;height:80%;position: relative;">

  <form class="" method="POST" style="" action="<%= url_for :model => :Main, :action => :auth %>">
    <div class="form-group" >
      <label class="med">Логин</label>
      <input type="text" style="height: 30px;font-size: medium;font-weight: bolder" id="login" name="login" class="form-control" />
    </div>
    <div class="form-group">
      <label class="med">Пароль</label>
      <input type="password" style="height: 30px;font-size: large;font-weight: bold;" id="password" name="password" class="form-control" />
    </div>
    <button type="submit" style="width: 100%; height: 40px; margin-top: 10px; " class="btn btn-danger med">Войти</button>
  </form>
  <a href="<%= url_for :model => :Main, :action => :adminpage %>" >Admin</a>
</div>

</body>